/* components/Footer.module.css */
.footer {
  background-color: white;
  color: black;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer .content {
  font-size: 14px;
}

.footer p {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .footer p {
    font-size: 12px;
  }
}